:host{
  width: 100%;
}

.btn-back{
  color: black;
  text-decoration: none;
  border: 0px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.btn-back:hover{
  opacity: .6;
}

.row{
  margin: 0;
}

.collapseTitle{
  cursor: pointer;
}

.card{
  border:0px;
}

.card-header{
  background-color: white !important;
}

