<div>
  <app-home-menu></app-home-menu>
  <div class="ships-items">
    <div class="pagination fs-subhead justify-content-center" *ngIf="starShips.length > 1">
      <button class="btn btn--s btn--white btn--raised chevron mx-2" [hidden]="page===1" (click)="prevPage()">Prev</button>
      <button *ngFor="let pageStarShip of starShips; index as i" class="btn btn--s btn--raised btn--white mx-2" [ngClass]="{'recentPage':page===i + 1}"
        (click)="page=i+1">{{i + 1}}</button>
      <button class="btn btn--s btn--white btn--raised chevron mx-2" [hidden]="page===starShips.length" (click)="nextPage()">Next</button>
    </div>
    <app-starships-list *ngIf="!loading" [starShips]="starShips[page - 1].results"></app-starships-list>
    <!-- <div class="alert alert-danger" role="alert">
      Hi ha hagut un error al fer la petició
    </div> -->
  </div>
</div>
