<div class="header-wrap">
  <header itx-scroll class="ma-header">
    <nav class="ma-menu">
      <ul class="ma-menu-wrap">
        <li>
          <a class="ma-bicolor ma-btn-women ma-menu-primary-link ma-women-link" routerLink="/fakeNavigation">FAKE NAVIGATION</a>
        </li>
        <li>
          <a class="ma-bicolor ma-btn-men ma-menu-primary-link ma-men-link" routerLink="/ships/list">SHIPS</a>
        </li>
        <li>
          <a class="ma-bicolor ma-btn-men ma-menu-primary-link ma-men-link justify-content-end" routerLink="/login">LOG OUT</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
