<div>
  <div class="header-wrap">
    <header itx-scroll class="ma-header">
      <nav class="ma-menu">
        <ul class="ma-menu-wrap">
          <li>
            <a class="ma-bicolor ma-btn-women ma-menu-primary-link ma-women-link" href="/fakeNavigation">FAKE NAVIGATION</a>

          </li>
          <li>
            <a class="ma-bicolor ma-btn-men ma-menu-primary-link ma-men-link" href="/ships">SHIPS</a>
          </li>
        </ul>
      </nav>
    </header>

  </div>
  <div>
    <h2>Esta página es de Prueba para ver que la navegació funciona.</h2>

  </div>
</div>
